# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/*.mp4
src/assets/Backgrounds/Blizzard.mp4
src/assets/Backgrounds/BlowingSnow.mp4
src/assets/Backgrounds/Clear.mp4
src/assets/Backgrounds/ClearNight.mp4
src/assets/Backgrounds/Cloudy.mp4
src/assets/Backgrounds/Heavy Rain.mp4
src/assets/Backgrounds/Mist.mp4
src/assets/Backgrounds/CloudyNight.mp4
src/assets/Backgrounds/Overcast.mp4
src/assets/Backgrounds/PartlyCloudy.mp4
src/assets/Backgrounds/Rain.mp4
src/assets/Backgrounds/RainWindow.mp4
src/assets/Backgrounds/Snow (2).mp4
src/assets/Backgrounds/Snow (1).mp4
src/assets/Backgrounds/ThunderStorm2.mp4
src/assets/Backgrounds/ThunderStorm.mp4
src/assets/Backgrounds/Snow (3).mp4
