.main-dashboard {
  background-color: rgb(26, 26, 26);
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.search {
  width: 250px;
  color: black;
  padding: 5px;
}

.main-header {
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.main-body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-direction: column;
  flex-grow: 1;
}
.main-body div {
  display: flex;
}
.main-body h2 {
  color: rgba(125, 129, 64, 0.8);
  font-size: 1.3rem;
  margin: 10px;
  margin-bottom: 0px;
}
.current-weather-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.current-time {
  color: white;
  font-size: 2.2rem;
  font-weight: 700;
  margin: 10px;
  padding: 0px;
  margin-right: 60%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.current-date {
  color: rgba(125, 129, 64, 0.8);
  font-size: 1.3rem;
  margin: 0px;
  margin-right: 55%;
  padding: 0px;
  width: max-content;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.current-temperature {
  color: white;
  font-size: 5rem;
  font-weight: 700;
  margin-right: 60%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.current-weather {
  color: rgba(125, 129, 64, 0.8);
  font-size: 1.3rem;
  margin-right: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.future-24-hours-container {
  padding:0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  width: 100%;
  overflow-x: scroll;
  user-select: none;
  overflow-y: hidden;
}
.future-24-hours {
  display: flex;
  flex-direction: column;
  padding:0;
  padding-inline: 20px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
}
.future-24-hours p {
  color: rgba(125, 129, 64, 0.8);
  font-size: 1.3rem;
  margin: 0;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding:0;
}
.future-forecast-container {
  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  overflow-x: scroll;
  user-select: none;
}
.day-container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: aliceblue;
}
