:root {
  --text-border :2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000,
  -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
.main-dashboard {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.weather-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px;
}

.search {
  width: 250px;
  color: black;
  border-radius: 10px;
  border: 5px solid rgba(120, 77, 77, 0.3);
  background-color: white;
  margin: 5px;
}

.main-header {
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.main-header h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  margin: 10px;
  text-shadow: var(--text-border)
}
.main-body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
}
.main-body div {
  display: flex;
  height: min-content;
}
.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-inline:20px!important;
  margin-block: 20px;
}
.current-time {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  letter-spacing: 5px;
  text-shadow: var(--text-border)
}
.current-date {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  width: max-content;
  margin: 0;
  letter-spacing: 3px;
  text-shadow: var(--text-border)
}
.temp-unit-change-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-block: 20px;
  margin: 5px;
}
.temp-unit-change-container button {
  background-color: rgba(120, 77, 77, 0.3);
  color: white;
  border: 3px solid rgba(120, 77, 77, 0.3);
  border-radius: 10px;
  font-size: .8rem;
  margin: 5px;
}
.temp-unit-change-container button:hover {
  background-color: rgba(120, 77, 77, 0.5);
}
.current-temperature {
  color: white;
  font-size: 4rem;
  margin: 20px;
  font-weight: 700;
  text-shadow: var(--text-border); 
}
.moon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.moon-phase {
  color: rgba(255, 255, 255, 0.8);
  font-size: .9rem;
  text-shadow:var(--text-border);
  margin:0;
}
.sunset-time {
  color: rgba(255, 255, 255, 0.8);
  font-size: .9rem;
  text-shadow:var(--text-border);
  margin:0;
}
.wi-sunset {
  font-size: 1.2rem!important;
  color: #f8e47f;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wi {
  font-size: 1.6rem;
  padding:10px;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.moon-phase i {
  color: rgba(255,255,255,.7);
  text-shadow: none;
}

.current-weather {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  margin-top:10px;
  text-shadow:var(--text-border);
  display:flex;
  align-items: center; 
  
}

.current-weather-icon {
  width: 60px;
  height: 60px;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.current-humidity,
.current-wind,
.current-uv {
  margin: 20px;
  font-size: 1rem;
  text-shadow: var(--text-border);
  color: rgba(255, 255, 255, 0.8);
}
.uv-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.uv-alert {
  color:red;
  font-size: 1rem;
}
.uv-alert:hover {
  cursor: pointer;
  color:rgb(184, 53, 53);
}
.uv-alert-text {
  color: rgb(248, 142, 142);
  font-size: 1rem;
  margin: 0;
  position: absolute;
  top:60px;
  left:20px;
  text-shadow: var(--text-border);
  z-index: 1;
  display:none;
}
.future-24-hours-container {
  margin-block: 25px;
  user-select: none;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 200px;
}
.future-24-hours-container::-webkit-scrollbar {
  display: none;
}
.future-24-hours {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  margin: 0;
  text-align: center;
  text-shadow: var(--text-border);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  min-width: 140px;
  min-height: 250px;
  max-height: 250px;
}
.hourly-time,
.hourly-temp,
.hourly-condition,
.hourly-tomorrow,
.hourly-humidity {
  color: rgba(255, 255, 255, 0.9);
  font-size: .9rem;
  margin: 0;
  margin-top: 10px;
  text-shadow: var(--text-border);

}

.hourly-time,
.hourly-tomorrow {
  font-size:1rem;
  color: rgba(255,255,255,0.7)

}
.hourly-humidity {
  font-size:.9rem;
  color:rgb(190, 206, 220)
}
.hourly-icon {
  width: 40px;
  height: 40px;
  align-self:center;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.future-forecast-container {
  margin-block: 50px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  user-select: none;
}
.future-forecast-container h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin: 10px;
  text-shadow: var(--text-border);
}
.future-forecast-container::-webkit-scrollbar {
  display: none;
}
.day-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-inline: 20px;
  margin: 0;
  text-align: center;
  text-shadow:var(--text-border);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
  backdrop-filter: blur(10px);
  min-width: 185px;
  min-height: 190px;
  max-height: 190px;
}
.temperature,
.weather,
.day {
  color: rgba(255, 255, 255, 0.9);
  font-size: .9rem;
  margin: 0;
  margin-top: 10px;
  text-shadow: var(--text-border);
}

.day {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);

}
.daily-icon {
  width: 40px;
  height: 40px;
  align-self: center;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


